html, body {
    margin: 0;
    height: 100%;
}

.bar {
    fill: blue;
    stroke: black;
    stroke-width: 1;
}

.bar:hover {
    fill: green;
}

.text {
    fill: white;
    font-family: sans-serif;
}